*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background: rgb(159, 200, 214);
}
.container{
    margin: auto;
    text-align: center;
    padding: 2rem 0;
    border: 1px solid green;
}
.container .container-head{
    padding: 1.5rem 0;
    font-weight: 200;
    color: rgb(19, 35, 54);
}
.container .container-title{
    color: rgb(19, 35, 54);
    font-size: 40px; 
    font-weight: bold;
}
.form{
    margin: 2rem auto;
    width: 80%;
    padding: 2rem 0;
    background: rgba(86, 152, 182, 0.877);
    box-shadow: 1px 2px 2px 1px grey;
    border-radius: 5px;
}
.form .hrLine{
    height: 2px;
    width: 90%;
    margin: 1rem auto;
    background:rgba(38, 70, 83, 0.596);
}
.basicInfo{
    text-align: left;
    padding: .3rem 0 1rem 2rem;
    color: rgba(38, 70, 83, 0.596);
}
form{
    width: 90%;
    /* border: 1px solid green; */
    margin: auto;
    text-align: left;
    padding: 1rem 0;
}
.label{
    color:rgb(19, 35, 54);
    font-size: 18px;
}
.input {
    width: 100%;
    padding: 1rem;
    margin-top: .2rem;
    border-radius: 3px;
    border: 3px solid rgb(165, 165, 165);
    box-shadow: 2px 2px 2px 1px rgba(7, 4, 4, 0.664);
    background: lightgray;
    outline: none;
    margin-bottom: 2rem;
}
.input:focus{
     outline: none;
     border: 3px solid lightblue;
     background: white;
}
.jobInput {
    width: 40%;
    padding: .5rem;
    margin-top: .2rem;
    border-radius: 3px;
    border: 3px solid rgb(165, 165, 165);
    box-shadow: 2px 2px 2px 1px rgba(7, 4, 4, 0.664);
    background: lightgray;
    outline: none;
    margin-bottom: 2rem;
}